PORT=5001
DATABASE_URL=postgres://postgres:password@localhost:5432/ourqueue
CLIENT_ORIGIN=http://localhost:5173
# Origin frontend *.vercel.app (production & preview) otomatis diizinkan. Set false kalau mau dibatasi.
ALLOW_VERCEL_PREVIEWS=true
NODE_ENV=development
JWT_SECRET=ganti_dengan_string_acak_minimal_32_karakter
JWT_EXPIRES_IN=7d
SUPERADMIN_NAME=Superadmin
SUPERADMIN_EMAIL=superadmin@ourqueue.local
SUPERADMIN_PASSWORD=Superadmin123!
VAPID_PUBLIC_KEY=BNxCkMWM6oyxVmqpNXop0MEBwiF9DjfwY8mJkqHfMdslAFjrF5sJr9SoZzvTzB3F6CMj_bG21kUHFj-UMmfHzmw
VAPID_PRIVATE_KEY=tktWUS9tZJXL8IvljUGqKpoDKOfWPGWv1P8OQ3V9dm0
VAPID_SUBJECT=mailto:superadmin@ourqueue.local